@import "whitespace-reset.css"
body
  font-family: 'Aref Ruqaa', serif
  font-size: 16px
  color: #333
  max-width: 1200px
main
  padding-left: 30px
h1
  font-size: 30px
  margin: 0 auto
  padding: 0 0 30px 0

#new_album
  width:400px
  margin: 0 auto
  form
    dt
      padding-bottom: 5px
    dd
      padding-bottom: 10px
      input[type="text"],
      input[type="date"],
      input[type="url"]
        width:100%
        height:20px
        border: 1px solid #00BFFF
        border-radius: 6px
#index
  ul
    padding: 0 0 40px 0
    margin: 0 0 0 -20px
    li 
      display: inline-block
      width:20%
      padding-right: 10px
      box-sizing: border-box
      margin-bottom: 45px
      a
        display: inline-block
        padding: 7px 15px
        border: 1px solid  #00BFFF
        border-radius: 6px
        background: #fff
        color: #00BFFF
        text-decoration: none
        
        &:hover
          color: #fff
          background:#00BFFF
    
    