@import "reset.css";
body {
  font-family: 'Aref Ruqaa', serif;
  font-size: 14px;
}
body header {
  background: #63478d;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
body header p {
  color: #cdbee5;
  font-size: 24px;
}
body header h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0.7px;
  padding-bottom: 15px;
}
body header h1 a {
  text-decoration: none;
  color: #fff;
}
body main nav {
  width: 95%;
  margin: 0 auto;
  background: #f5f5f5;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 22px 0 22px 0;
}
body main nav .add_contact {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  width: 49%;
}
body main nav .add_contact a.add {
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  padding: 10px 16px;
  color: #563d7c;
  border: 1px solid #563d7c;
  border-radius: 6px;
}
body main nav .add_contact a.add:hover {
  background: #563d7c;
  color: #fff;
}
body main nav .search {
  display: inline-block;
  box-sizing: border-box;
  width: 49%;
  text-align: center;
}
body main nav .search input {
  padding: 7px 10px;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid #e7e7e7;
  width: 40%;
}
body main nav .search input:active {
  border-color: #0cf;
}
body main .no_contact {
  display: none;
}
body main .contacts {
  text-align: center;
}
body main .contacts h2 {
  font-size: 24px;
}
body main .contacts ul {
  background: #f00;
}
body main .contacts ul li {
  display: inline-block;
  width: 25%;
  border-bottom: 1px solid #e7e7e7;
}
body main .contacts ul li a {
  text-decoration: none;
  padding-right: 20px;
}
body main h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 24px;
  text-align: center;
}
body main form {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}
body main form div.blocks {
  margin-top: 20px;
  width: 100%;
}
body main form div.blocks div {
  display: inline-block;
  width: 25%;
}
body main form div.blocks div input {
  width: 100%;
  padding: 7px 0;
}
body main form div.blocks label {
  display: inline-block;
  width: 20.33%;
  text-align: right;
  padding-right: 15px;
}
body main form div.submission {
  margin-top: 20px;
}
body main form div.submission input,
body main form div.submission a {
  display: inline-block;
  padding: 10px 50px;
  border-radius: 6px;
  border: 1px solid #63478d;
  color: #63478d;
  background: #fff;
}
body main form div.submission input:hover,
body main form div.submission a:hover {
  background: #63478d;
  color: #fff;
}
body main form div.submission input {
  margin-left: 22%;
  margin-right: 2%;
  cursor: pointer;
}
body main form div.submission a {
  text-decoration: none;
  font-size: 10px;
}
body footer {
  font-size: 16px;
  text-align: center;
}
