<nav>
  <div class = "add_contact">
    <a href = "/contacts/new" class = "add"> Add Contact</a>
  </div>
  <div class = "search">
    <input type = "text" placeholder = "Search" />
  </div>
  <div class  = "no_contact">
    <p> There are no contacts</p>
    <a href = "">Add Contact</a>
  </div>

  <div class = "contacts">
    <h2> Your Contact List</h2>
    <ul>
    </ul>
  </div>