<h2> Create Contact</h2>
<form action="/contacts" method = "post">
  <div class = "blocks">
    <label for = "name">Full name:</label>
    <div>
      <input type = "text" name = "name" />
    </div>
  </div>
  <div class = "blocks">
    <label for = "email">Email Adress:</label>
    <div>
      <input type = "email" name = "name" />
    </div>
  </div>
  <div class = "blocks">
    <label for = "telephone">Full name:</label>
    <div>
      <input type = "tel" name = "telephone" />
    </div>
  </div>

  <div class = "submission">
    <input type = "submit" value = "Submit" />
    <a href = "#"> Cancel</a>
  </diV>
</form>