extends layout

block content
  header
    h1
      a(href="") Contact Manager
    p Using Backbone.js, Localstorage, RequireJS, Handlebar and Bootstrap
  main
    nav
      div.add_contact
        a.add(href="") Add Contact
      div.search
        input(type="text" placeholder="Search")
    div.no_contact
      p There are no contacts
      a.add(href="") Add Contact
    div.contacts
      h2 Your Contact List
      ul
  footer
    p Developed by Ahmet Fatih Azil
    