include /_mixins
doctype html
html
  head
    title= title
    +stylesheet("application")
    <link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa" rel="stylesheet">
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Aref+Ruqaa")
  body
    block content
