extends layout


  //script(type="text/x-handlebars")
  
  //We added a period after our script tag so jade doesnt try to read the content of our script as Html. We want it to be read like javascript code
  
  




